Source: stsbl-iserv-acl-backup
Section: misc
Priority: extra
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 9), iserv3-dev
Standards-Version: 3.9.5
#Vcs-Git: git://anonscm.debian.org/collab-maint/stsbl-iserv-acl-backup.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/stsbl-iserv-acl-backup.git;a=summary

Package: stsbl-iserv-acl-backup
Architecture: all
Description: ACL-Backup für IServ
 Sichert die Dateisystem-ACLs einmal täglich auf dem Server als Archiv nach 
 /var/backups/acl.
