Source: stsbl-iserv-acl-backup
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper-compat (= 13),
               dh-sequence-iserv,
               dh-sequence-stsbl,
Standards-Version: 4.5.0
Homepage: https://it.stsbl.de/

Package: stsbl-iserv-acl-backup
Architecture: all
Depends: iserv-update, ${misc:Depends}, ${perl:Depends}
Xb-Private-Iserv-Revision: ${iserv:Revision}
Description: ACL-Backup für IServ
 Sichert die Dateisystem-ACLs einmal täglich auf dem Server als Archiv nach
 /var/backups/acl.
Tag: suite::iserv
